# Build artifacts
/rf-control
/rf-control.exe
/rf-control-*
/dist/
/cmd/rf-control-gui/build/bin/
/cmd/rf-control-gui/frontend/node_modules/
/cmd/rf-control-gui/frontend/dist/*
!/cmd/rf-control-gui/frontend/dist/gitkeep
/cmd/rf-control-gui/frontend/package.json.md5

# Go
*.test
*.out
vendor/

# Editor / OS
.DS_Store
.idea/
.vscode/
